In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
sold_tickets = pd.read_csv('london_ticket_sales.csv')

In [16]:
all_tickets = pd.read_csv('london_tickets_for_sale.csv', encoding='latin1')

In [8]:
infra = pd.read_csv('london_infrastructure_spending.csv', encoding='latin1')

In [23]:
session_codes = set(all_tickets['code'])
print(len(session_codes))

646

In [28]:
venues = set(all_tickets['venue'])
list(venues)

['Millennium Stadium; Cardiff',
 'Olympic Park \x96 Velodrome',
 'Horse Guards Parade',
 'Olympic Park - Handball Arena',
 'Greenwich Park',
 'Royal Artillery Barracks - Ground Pass',
 'Hyde Park',
 'Hadleigh Farm; Essex',
 'Old Trafford; Manchester',
 'St James\x92 Park; Newcastle',
 'Olympic Park \x96 Water Polo Arena',
 "Lord's Cricket Ground",
 'North Greenwich Arena',
 'City of Coventry Stadium; Coventry',
 'Wembley Arena',
 'Olympic Park - BMX Circuit',
 'Wimbledon - No.1 Court',
 'Olympic Park \x96 Hockey Centre',
 'Weymouth and Portland; Dorset',
 'Olympic Park \x96 Aquatics Centre',
 'Wimbledon - Ground Pass',
 'Wembley Stadium',
 'Hampden Park; Glasgow',
 'Royal Artillery Barracks - Finals Hall & Ground Pass',
 'Wimbledon - Centre Court',
 'Olympic Park - Basketball Arena',
 'Lee Valley White Water Centre; Hertfordshire',
 'The Mall',
 'Earls Court',
 'ExCeL',
 'Olympic Park - Olympic Stadium',
 'Olympic Park \x96 Handball Arena: Fencing; Olympic Park \x96 Aquatics Centre: Swimming; Greenwich Park: Riding; combined event',
 'Eton Dorney; Buckinghamshire']

In [21]:
infra.loc[infra['expense_category'] == 'Venues']

,expense_category,breakdown,baseline_budget,31/12/2011_forecast,31/03/2012_forecast,variance
9,Venues,Stadium,496.0,431,428,-3.0
10,Venues,Aquatics,214.0,253,251,-2.0
11,Venues,Velopark,72.0,86,87,1.0
12,Venues,Handball,55.0,41,41,0.0
13,Venues,Basketball,58.0,40,40,0.0
14,Venues,Other Olympic Park Venues,59.0,101,101,0.0
15,Venues,Non-Olympic Park Venues,84.0,111,103,-8.0
16,Venues,Total Venues,1038.0,1063,1051,-12.0