In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%ls ../data/

Parameter format not correct - "data".

In [3]:
sold_tickets = pd.read_csv('../data/london_ticket_sales.csv')
all_tickets = pd.read_csv('../data/london_tickets_for_sale.csv', encoding='latin1')
infra = pd.read_csv('../data/london_infrastructure_spending.csv', encoding='latin1')

In [4]:
sold_tickets.head()

  session price  number_sold  total_public_sold  percent_sold_to_public
0   AT001   150        16704            46425.0               73.155166
1   AT001    95         7193            46425.0               73.155166
2   AT001    65         6721            46425.0               73.155166
3   AT001    40         4434            46425.0               73.155166
4   AT001    20         5336            46425.0               73.155166

In [5]:
all_tickets.head()

,date,time,gender,session,medal_ceremony,code,AA,A,B,C,D,E,limit,venue,event
0,03-Aug,10:0013:45,M,400m Hurdles: round 1,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
1,03-Aug,10:0013:45,M,3000m Steeplechase: round 1,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
2,03-Aug,10:0013:45,M,Hammer: qualifying,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
3,03-Aug,10:0013:45,M,Shot Put: qualifying,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
4,03-Aug,10:0013:45,W,100m: classification heats,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics

In [6]:
infra.head()

,expense_category,breakdown,baseline_budget,31/12/2011_forecast,31/03/2012_forecast,variance
0,Site Preparation and Infrastructure,Powerlines,282.0,286,287,1.0
1,Site Preparation and Infrastructure,Utilities,256.0,238,235,-3.0
2,Site Preparation and Infrastructure,Enabling Works,364.0,386,386,0.0
3,Site Preparation and Infrastructure,F10 Bridge,89.0,56,55,-1.0
4,Site Preparation and Infrastructure,"Other Structures, Bridges and Highways",740.0,553,565,12.0

In [10]:
session_codes = set(all_tickets['code'])

In [11]:
venues = set(all_tickets['venue'])

In [12]:
venue_spendings = infra.loc[infra['expense_category'] == 'Venues']

In [15]:
# from all tickets, we need the session codes associated with a venue 
for v in venues: 
    venue_sessions = all_tickets.loc[ all_tickets['venue'] == v ]
    for r in venue_sessions.iterrows(): 
        print(r)

NotImplementedError: iLocation based boolean indexing on an integer type is not available